/* COLOURS*/
/* 	Link: #007AFF */
/* 	Bold: #ff6200 */
/* 	Light */
/* 		Theme: #ddd */
/* 		text: #222 */
/* 		UI item bgs: #aaa */
/* 		for contrast: #333 */
/* 		transparency: rgba(255, 255, 255, 0.25) */
/* 		box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25); */
/* 		bar link hover bg color: #111 */
/* 		bar link hover text color: #eee */
/* 	Dark */
/* 		Theme: #222 */
/* 		text: #ddd */
/* 		UI item bgs: #555 */
/* 		for contrast: #ddd */
/* 		transparency: rgba(0, 0, 0, 0.25) */
/* 		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25); */
/* 		bar link hover bg color: #eee */
/* 		bar link hover text color: #111 */
/* COLOURS */

/*regular text (body, p, b, h*) styles*/
* {
	margin: 0px;
	font-family: system-ui;
	transition: 0.2s;
	color: #222;
	box-sizing: border-box;
}
b {
	color: #ff6200;
}
a {
	color: #007aff;
}
body {
	background-color: #ddd;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.content {
	flex: 1;
	padding: 0px 20px;
}
footer {
	margin-top: 20px;
	background-color: #ccc;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
footer .textLinks {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
footer .textLinks:hover {
	color: #ff6200;
	font-weight: 600;
}
footer * {
	margin: 5px 0;
}
p {
	font-size: 20px;
}
h1 {
	font-size: 40px;
	font-weight: 750;
}
h2 {
	margin-top: 10px;
	font-size: 35px;
	font-weight: 400;
}
h3 {
	margin-top: 10px;
	font-size: 30px;
	font-weight: 400;
}
h4 {
	margin-top: 10px;
	font-size: 25px;
	font-weight: 300;
}
h5 {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 200;
}
.indented {
	margin-left: 20px;
}
.center {
	text-align: center;
}
/* regular text (body, p, b, h*) styles*/

.contentPush {
	height: 40px;
	top: 0;
}

/* Bar styling*/
.bar {
	z-index: 5;
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	padding: 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-backdrop-filter: blur(2.5px);
	-moz-backdrop-filter: blur(2.5px);
	backdrop-filter: blur(2.5px);
}
.barItem {
	float: left;
	flex: 1;
	text-align: center;
}
.barItem * {
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: #222;
	padding: 9.2px 12px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
.barItem h1 {
	font-size: 30px;
	padding: 2.5px 12px;
	border-right-style: solid;
	border-width: 1.5px;
	border-color: #222;
}
.barItem:hover {
	flex: 1.5;
	background-color: #fff;
}
.barItem *:hover {
	font-size: 30px;
	font-weight: 600;
	padding: 2.5px 12px;
}
.barItem a:hover {
	background-color: #111;
	color: #eee;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}
/* Bar styling */

.homescreen {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 20px;
	margin-top: 10px;
	justify-items: start;
}

.app {
	padding: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-decoration: none;
	transition: 0.1s ease-in-out;
}

.app img {
	margin-top: 5px;
	width: 100px;
	height: 100px;
	border-radius: 20px;
	transition: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.app:hover {
	transform: scale(1.1);
	font-weight: 800;
	font-size: medium;
	color: #ff6200;
	background-color: rgba(255, 255, 255, 0.05);
	background-clip: border-box;
	box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.2);
}

.label {
	margin-top: 5px;
	margin-bottom: 5px;
}

.themednotByAI:hover {
	content: url("./images/notByAIDark.svg");
}

@media (prefers-color-scheme: dark) {
	* {
		color: #ddd;
	}
	body {
		background-color: #222;
		color: #ddd;
	}
	footer {
		background-color: #111;
	}
	.bar {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.barItem * {
		color: #ddd;
	}
	.barItem h1 {
		border-color: #ddd;
	}
	.barItem:hover {
		background-color: #333;
	}
	.barItem a:hover {
		background-color: #ddd;
		color: #222;
		-webkit-box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.8);
		-moz-box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.8);
		box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.8);
	}
	.themednotByAI {
		content: url("./images/notByAIDark.svg");
	}
	.themednotByAI:hover {
		content: url("./images/notByAI.svg");
	}
}

@media screen and (max-width: 600px) {
	.app img {
		width: auto;
		height: 80px;
	}
	.indented {
		margin-left: 10px;
	}
	.content {
		padding: 0 10px;
	}
	.homescreen {
		gap: 10px;
	}
}
