/* COLOURS*/
/* Link: #007AFF */
/* Bold: #ff6200 */
	/* Light */
		/* Theme: #ddd */
		/* text: #222 */
		/* for contrast: #aaa */
		/* transparency: rgba(255, 255, 255, 0.25) */
		/* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25); */
		/* bar link hover bg color: #111 */
		/* bar link hover text color: #eee */
	/* Dark */
		/* Theme: #222 */
		/* text: #ddd */
		/* for contrast: #555 */
		/* transparency: rgba(0, 0, 0, 0.25) */
		/* box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25); */
		/* bar link hover bg color: #eee */
		/* bar link hover text color: #111 */
/* COLOURS */

/*regular text (body, p, b, h*) styles*/
	* {
		margin: 0px;
		font-family: system-ui;
		transition: 0.2s;
		color: #222;

	}
	b {
		color: #ff6200
	}
	a {
		color: #007AFF
	}
	body {
		background-color: #ddd;
	}
	p {
		font-size: 20px;
		padding: 0px 20px;
	}
	h1 {
		font-size: 40px;
		font-weight: 750;
		padding: 0px 20px;
	}
	h2 {
		font-size: 30px;
		font-weight: 400;
		padding: 0px 20px;
	}
	h3 {
		font-size: 25px;
		font-weight: 400;
		padding: 0px 20px;
	}
/* regular text (body, p, b, h*) styles*/

.contentPush{
	height: 65px;
}

/* Bar styling*/
	.bar {
		z-index: 5;
		width: 100%;
		position: fixed;
		top: 0;
		display: flex;
		padding: 0;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.25);

		-webkit-backdrop-filter: blur(2.5px);
		-moz-backdrop-filter: blur(2.5px);
		backdrop-filter: blur(2.5px);
	}
	.barItem {
		float: left;
		flex: 1;
		text-align: center;
	}
	.barItem * {
		display: block;
		text-decoration: none;
		font-size: 20px;
		color: #222;
		padding: 9.2px 12px;
	}
	.barItem h1 {
		font-size: 30px;
		padding: 2.5px 12px;
		border-right-style: solid;
		border-width: 1.5px;
		border-color: #222;
	}
	.barItem:hover {
		flex: 1.5;
		background-color: #fff;
	}
	.barItem *:hover {
		font-size: 30px;
		font-weight: 600;
		padding: 2.5px 12px;
	}
	.barItem a:hover {
		background-color: #111;
		color: #eee;

		-webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
	}
/* Bar styling */

.box1 {
	float: left;
	display: block;
	width: 9%;
	height: auto;
	padding: 20px 10px;
}
.box2 {
	float: left;
	display: block;
	width: 9%;
	height: auto;
	padding: 20px 10px;
}

@media (prefers-color-scheme: dark) {
	* {
		color: #ddd;
	}
	body {
		background-color: #222;
		color: #ddd;
	}
	.bar {
		background-color: rgba(0, 0, 0, 0.25);
	}
	.barItem * {
		color: #ddd;
	}
	.barItem h1 {
		border-color: #ddd;
	}
	.barItem:hover {
		background-color: #555;
	}
	.barItem a:hover {
		background-color: #eee;
		color: #111;
		
		-webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
		-moz-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
	}
}









.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #222;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



@media screen and (max-width: 600px) {
	
}